.GameBoard {
    background: url('../assets/images/app_bg.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 430px;
}

.GameBoardContainer {
    height: 75vh;
    width: 75vh;
    display: grid;
    margin-bottom: 50px;
    transition-duration: 1.5s;
    z-index: 2;
}

.GameBoardContainer.Rookie {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
}

.GameBoardContainer.Pro {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 6px;
}

.GameBoardContainer.SuperStar {
    grid-template-columns: repeat(19, 1fr);
    grid-gap: 3px;
}

.gameSquare {
    background-color: rgba(50, 50, 50, .6);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}


.gameSquare img {
    height: auto;
    width: auto;
    max-width: 90%;
    display: none;
    max-height: 90%;
}

.gameSquare.noClick img {
    display: inline-block;
    animation: bounce2 2s infinite, flash3 .4s;
}

.gameSquare.noClick {
    animation: flash4 .4s;
}

.gameSquare:hover {
    cursor: pointer;
    animation: flash2 .5s infinite;
    background-color: rgba(240, 128, 128, .5);
}

.gameSquare.noClick {
    pointer-events: none;
}

.GameBoardContainer.Rookie .gameSquare {
    height: 24.4vh;
    width: 24.4vh;
}

.GameBoardContainer.Pro .gameSquare {
    height: 8.7vh;
    width: 8.7vh;
}

.GameBoardContainer.SuperStar .gameSquare {
    height: 3.6vh;
    width: 3.6vh;
}

@media (max-width: 1024px) {
    .GameBoardContainer {
        height: 70vh;
        width: 70vh;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .GameBoardContainer.Rookie .gameSquare {
        height: 22.8vh;
        width: 22.8vh;
    }

    .GameBoardContainer.Pro .gameSquare {
        height: 8.1vh;
        width: 8.1vh;
    }

    .GameBoardContainer.SuperStar .gameSquare {
        height: 3.3vh;
        width: 3.3vh;
    }
}

@media (max-width: 640px) {
    .GameBoardContainer {
        height: 40vh;
        width: 40vh;
    }
    .GameBoardContainer.Rookie .gameSquare {
        height: 12.8vh;
        width: 12.8vh;
    }

    .GameBoardContainer.Pro .gameSquare {
        height: 4.4vh;
        width: 4.4vh;
    }

    .GameBoardContainer.SuperStar .gameSquare {
        height: 1.8vh;
        width: 1.8vh;
    }
}