.GameBoard {
    background: url('../assets/images/app_bg.jpg') center center no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#canvas{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 430px;
}

.GameBoardContainer {
    height: 75vh;
    width: 75vh;
    display: grid;
    margin-bottom: 50px;
    transition-duration: 1.5s;
    z-index: 2;
}

.GameBoardContainer.Rookie {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.GameBoardContainer.Pro {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 7px;
}

.GameBoardContainer.SuperStar {
    grid-template-columns: repeat(19, 1fr);
    grid-gap: 4px;
}

.gameSquare {
    background-color: rgba(50, 50, 50, .6);
    height: 100%;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.gameSquare img {
    max-height: 90%;
    display: none;
}

.gameSquare.noClick img{
    display: inline-block;
    animation: bounce2 2s infinite, flash3 .4s;
}
.gameSquare.noClick{
    animation: flash4 .4s;
}

.gameSquare:hover {
    cursor: pointer;
    animation: flash2 .5s infinite;
    background-color: rgba(240, 128, 128, .5);
}

.gameSquare.noClick {
    pointer-events: none;
}

@media (max-width: 1024px) {
    .GameBoardContainer {
        height: 70vh;
        width: 70vh;
        margin-bottom: 20px;
        margin-top: 20px;
    }
}

@media (max-width: 640px) {
    .GameBoardContainer {
        height: 40vh;
        width: 40vh;
    }
}