.GameScreen{
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
}

.ScoreSection{
    background:url('../assets/images/controls_bg.jpg')top left repeat;
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vs{
    margin: 20px;
    text-align: center;
    font-weight: 700;
    color: red;
    font-style: italic;
    font-size: 65px;
    text-shadow: 2px 2px 10px lightgrey;
}

.resetButton{
    text-align: center;
    padding: 0;
    border-radius: 50%;
    width: 180px;
    color: white;
    font-weight: bolder;
    font-style: italic;
    line-height: 180px;
    background-color: red;
    border: 5px solid white;
    cursor: pointer;
    font-size: 25px;
    margin-top: 40px;
}
.resetButton:hover{
    animation: flash2 .5s infinite;
}

.ScoreBlock{
    background-color: rgba(0,0,0,.7);
    border: 5px solid red;
    border-radius: 5px;
    text-align: center;
    padding: 40px 5px 20px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1;
    width: 180px;
    height: 80px;
    font-style: italic;
    margin: 20px;
    color: white;
}

.ScoreBlock.active{
    animation: flash2 .5s infinite;
    background-color: rgba(240,128,128, .5);
}

@media (max-width: 1024px) {
    .GameScreen{
        flex-direction: column-reverse;
    }
    .ScoreSection{
        background:url('../assets/images/controls_bg2.jpg')bottom left repeat;
        background-size: cover;
        width: 100vw;
        height: 300px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .resetButton{
        font-size: 14px;
        width: 100px;
        color: white;
        line-height: 100px;
        margin: 5px;
        padding: 5px;
        white-space: nowrap;
    }
    .ScoreBlock{
        padding: 20px 5px 20px;
        font-size: 20px;
        height: auto;
        width: auto;
        margin: 10px;
    }
    .vs {
        font-size: 30px;
        margin: 10px;
    }
}